#chartDiv {
  margin-top: 23%;
  margin-left: 10%;
}

#chartHeader {
  text-align: center;
}

#notAvailable {
  text-align: center;
  background-color: #ffe6e6;
  border-radius: 10px;
  box-shadow: 4px 7px 22px 1px rgba(89,92,94,0.36);
}

#headerNotfound {
  padding-top: 30%;
  padding-bottom: 30%;
}
